.topbarContainer {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  border: 1px solid rgb(207, 207, 207);
  top: 0;
}
.logo {
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  font-size: x-large;
  margin-left: 55px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 17px;
}

.topbarItem:first-child {
  margin-right: auto;
  background-color: aqua;
}
.topbarItem:last-child {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  width: 10%;
}
.topbarLogoutButton {
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border: none;
  background-color: #1936f3;
  color: rgb(255, 255, 255);
  border-radius: 2px;
}

.Right {
  justify-content: space-between;
}
.topbarNotificationButton {
  border: none;
  /* background-color: #3751f0; */
  background-color: #5667d9;
}
#topbarNotificationIcon {
  color: #f9d862;
}
